<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
  
   <add name="DefaultConnection" connectionString="DESKTOP-22OACBO\SQLEXPRESS;initial catalog=InteractiveSolutionsBank;User Id=sa;Password=1234" providerName="System.Data.SqlClient" />
   <add name="InteractiveSolutionsBankEntities" connectionString="metadata=res://*/Entities.ISBankModel.csdl|res://*/Entities.ISBankModel.ssdl|res://*/Entities.ISBankModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-22OACBO\SQLEXPRESS;initial catalog=InteractiveSolutionsBank;persist security info=True;user id=sa;password=1234;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
   <!--metadata=res://*/Entities.ISBankModel.csdl|res://*/Entities.ISBankModel.ssdl|res://*/Entities.ISBankModel.msl;provider=System.Data.SqlClient;provider connection string="data source=DESKTOP-22OACBO\SQLEXPRESS;initial catalog=InteractiveSolutionsBank;persist security info=True;user id=sa;password=1234;MultipleActiveResultSets=True;App=EntityFramework"-->
 
  </connectionStrings>
</configuration>
