@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>

<p>
    An experienced Software Developer with innovative and creative software solutions, also able to perform full software development life cycle activates. Self driven-professional with strong problem-solving techniques.
    Skill Highlights
    •	C#, Java
    •	Html, CSS, JavaScript, jQuery, Angular
    •	Entity Framework, Asp.Net MVC, Asp.Net WebApi, Asp.Net Webforms
    •	SQL, MySQL, Mongo DB
    •	Microsoft Azure
    •	WCF architecture, Swagger	•	User Acceptance Testing,System & Unit Testing
    •	Test Plans, Cases & Processes
    •	Agile Methodology,Waterfall, Design Pattern
    •	Git,TFS, Azure DevOps
    •	Visual Studio , Android Studio
    •	Nodejs
    Experience



</p>
