@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<address>
    Pinetown<br />
    Mariannhill, Block D040341<br />
    <abbr title="Phone">P:</abbr>
    +276788148444/ +270614523023
</address>

<address>
    
</address>