@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    Welcome to ISBank 
</div>

<div class="row">
    <div class="col-md-4">
        <h2>User Requirements</h2>
        <p>
            You are required to provide a new Web solution to manage people, their accounts and transactions logged against these accounts.


            Bonus
            Web API – Basic Authentication
            Swagger Documentation
            Indexing Tables
            Bootstrap
            Stored Procedures

        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        General
        You are required to create an web project with access to the following links:
        •	Home
        •	Login \ Persons
        •	About
        •	Contact
        The above links should be displayed automatically as a top menu and have the same appearance and functionality on every page within the website solution
    </div>
    
</div>