<?xml version="1.0" encoding="utf-8"?>
<configuration>

  
  <connectionStrings>
  
   <add name="DefaultConnection" connectionString="DESKTOP-22OACBO\SQLEXPRESS;initial catalog=InteractiveSolutionsBank;User Id=sa;Password=1234" providerName="System.Data.SqlClient" />
   <add name="InteractiveSolutionsBankEntities" connectionString="metadata=res://*/Entities.ISBankModel.csdl|res://*/Entities.ISBankModel.ssdl|res://*/Entities.ISBankModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-22OACBO\SQLEXPRESS;initial catalog=InteractiveSolutionsBank;persist security info=True;user id=sa;password=1234;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
   <!--metadata=res://*/Entities.ISBankModel.csdl|res://*/Entities.ISBankModel.ssdl|res://*/Entities.ISBankModel.msl;provider=System.Data.SqlClient;provider connection string="data source=DESKTOP-22OACBO\SQLEXPRESS;initial catalog=InteractiveSolutionsBank;persist security info=True;user id=sa;password=1234;MultipleActiveResultSets=True;App=EntityFramework"-->
    <!--metadata=res://*/Entities.ResellerModel.csdl|res://*/Entities.ResellerModel.ssdl|res://*/Entities.ResellerModel.msl-->  
  </connectionStrings>
  <appSettings>
   
    <!-- Localization -->
    <add key="FullDateTimeFormat" value="dd/MM/yyyy H:mm:ss" />
    <add key="DateTimeFormat" value="dd/MM/yyyy H:mm" />
    <add key="ShortDateTimeFormat" value="dd/MM/yyyy" />
    <add key="FullDateTimeFormatParam" value="{0:dd'/'MM'/'yyyy H:mm:ss}" />
    <add key="DateTimeFormatParam" value="{0:dd'/'MM'/'yyyy H:mm}" />
    <add key="ShortDateTimeFormatParam" value="{0:dd'/'MM'/'yyyy}" />
    <add key="ShortDateTimeFormatJavascript" value="dd/mm/yyyy" />
    <add key="ShortDateTimeFormatJavascriptValidation" value="dd/mm/yy" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Unity.Interception" publicKeyToken="489b6accfaf20ef0" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.5.6.0" newVersion="5.5.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Unity.Abstractions" publicKeyToken="6d32ff45e0ccc69f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.1.0" newVersion="3.3.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>